@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-2xl font-bold py-4;
    }
    h2 {
        @apply font-semibold;
    }
    nav {
        @apply !bg-blue-800; 
    }
    nav * {
        @apply !text-white py-1 text-base tracking-wide; 
    }
}

.video-bg {
    opacity: 0;
    animation: fadeInVideo 2s ease forwards;
    animation-delay: 1s; /* Add delay before the fade-in */
  }
  
  @keyframes fadeInVideo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@layer components {
    .container {
        @apply mx-auto;
    }

    .component {
        @apply mb-6;
    }

    .footer {
        @apply !bg-blue-800; 
    }

    .footer * {
        @apply !text-white font-bold tracking-wide; 
    }
}

button[aria-label="Close"] {
    z-index: 20; /* Ensure it's above the image */
    position: relative; /* So the z-index takes effect */
  }